header{
    height: 100px;
    background-color: aqua;
}

aside{
    float: left;
    height: 300px;
    width: 30%;
    background-color: rgb(131, 6, 248);
}

main{
    float: left;
height: 400px;
width: 70%;
background-color: cadetblue;
}

footer{
    clear: left;
height: 200px;
background-color: aquamarine;
}